.countries {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    img{
      width: 150px;
      height: 100px;
      object-fit: cover;
    }
  }
}